@{
    ViewData["Title"] = "Registration";
}

<div>
    <form action="Register/SubmitRegistration" method="post">
        <input type="text" name="FirstName"/>
        <input type="text" name="LastName" />
        <input type="text" name="Password" />
        <input type="text" name="Email" />
        <input type="text" name="Gender" />
        <input type="submit"/>
    </form>
</div>